In [0]:
%sql
USE CATALOG hive_metastore

In [0]:
%sql
CREATE TABLE employees
  (id INT, 
  name STRING, 
  salary DOUBLE)

In [0]:
%sql
INSERT INTO employees
VALUES
  (1, "Adam", 3500.00),
  (2, "Sarah", 4020.50);

INSERT INTO employees
VALUES
  (3, "John", 2999.30),
  (4, "Thomas", 4000.30);

INSERT INTO employees
VALUES
  (5, "Anna", 2500.00);

INSERT INTO employees
VALUES
  (6, "Kim", 6200.30);

In [0]:
%sql
SELECT * FROM employees;

In [0]:
%sql
DESCRIBE DETAIL employees;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%sql
UPDATE employees
SET salary = salary + 100
WHERE name LIKE "A%";

In [0]:
%sql
SELECT * FROM employees;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%sql
DESCRIBE DETAIL employees;

In [0]:
%sql
SELECT * FROM employees;

In [0]:
%sql
DESCRIBE HISTORY employees;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees/_delta_log'

In [0]:
%fs head 'dbfs:/user/hive/warehouse/employees/_delta_log/00000000000000000005.json'